.projectCard {
  background: rgba(255, 255, 255, 0.2); /*background: #f9f9fb; OR #f2f4f8;*/
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 0rem; /*evt 0.5*/
}

.projectCard:hover {
  transform: translateY(-4px);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderIcon {
  color: rgb(27, 118, 209);
  font-size: 1.5rem;
}

.githubIcon {
  color: inherit;
  transition: color 0.2s ease;
}


.cardTitle {
  font-weight: 600;
  font-size: 1.2rem;
}

.cardDesc {
  color: inherit;
  opacity: 0.75;
  font-size: 0.95rem;
}

.cardTech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  color: inherit;
  opacity: 0.75;
}

.cardTech li {
  /*background-color: #e5e5f7; bubbles around tech*/
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.card-links {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.card-links a {
  color: inherit;
  transition: color 0.2s;
  font-size: 1.3rem;

}

.card-links a:hover {
    color: rgb(27, 118, 209);
}
